.employee_list {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(1140px + 1.5rem);
}

.card_wrapper {
  flex: 0 1 100%;
  padding: 0.75rem;
}

.fullview-card_wrapper {
  height: 95%;
}

.card.selected {
  background-color: aliceblue;
}

.card {
  height: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.05);
  padding: 0.8rem;
  min-height: 280px;
}

.card__info {
  text-align: center;
}

.card__avatar {
  height: 144px;
  width: 144px;
  border-radius: 50%;
}

.card__label {
  display: block;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
}

.card__name {
  margin: 0;
  margin-bottom: 0.75rem;
  font-family: Lora, serif;
  font-size: 1.25rem;
  font-weight: 700;
}
