body {
  min-width: 360px;
}

hr {
  border: dotted;
  border-color: #ebe9e5;
}
.root {
  background-color: #ebe9e5;
}

.no-margain {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}
